<ion-content>
	<div headerFlex>
      <ion-button backBtn routerLink="/tabs/tab2"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <!-- <a cart href="javascript:void(0)"><ion-icon name="cart"></ion-icon></a> -->
    </div>
  <span userImg><img src="../assets/images/pro2.jpg" alt=""></span>
  

  <!-- <div groupIcons onPost>
    <ul>
      <li><a href="javascript:void(0)"><ion-icon name="heart"></ion-icon> <p>450</p></a></li>
      <li><a routerLink="/comments" href="javascript:void(0)"><ion-icon name="chatbubble-ellipses"></ion-icon> <p>1.2k</p></a></li>
      <li><a href="javascript:void(0)"><ion-icon name="return-up-forward-outline"></ion-icon> <p>250</p></a></li>
    </ul>
  </div> -->

  <div profilePage>

    <div topPart>
      <!-- <ion-segment mode="md" [(ngModel)]="profile" segment>
        <ion-segment-button value="posts">
           <h6>&nbsp;</h6><p>Details</p>
        </ion-segment-button>
          <ion-segment-button value="followers">
           <h6>120</h6><p>Tutorials</p>
        </ion-segment-button>
          <ion-segment-button value="following">
           <h6>55</h6><p>Reviews</p>
        </ion-segment-button>
      </ion-segment> -->
      <h6>#0221500 <small>QTY: 3</small></h6>
    </div>

    <div botmPart>
      <div> 
        <div titlebtn>
        	<div lftbar>
            
        		<p>Doll Face </p>
        		<h4>$25.50 <h5 date>2/10/2020</h5></h4>
            <span userImg2><img src="../assets/images/user7.jpg" alt=""> <p>John Smith</p></span>
        	</div>
        	<div ritSide>

        	</div>
        </div>
        <div descrip>
        	<ul>
           <li completed><h4>Ordered<p>25/10/2020</p></h4></li> 
           <li completed><h4>Shipped<p>26/10/2020</p></h4></li> 
           <li><h4>On the way<p>&nbsp;</p></h4></li> 
           <li><h4>Delivered<p>(570) 596-7842<br>3634 Bucks Creek Rd Gillett,<br> Pennsylvania(PA), 16925</p></h4></li> 
          </ul>
        </div>

        <a href="javascript:void(0)" btn-cancel>Cancel Order</a>
      </div>


 

    </div>
  </div>
</ion-content>
