<ion-header>
  <ion-toolbar>
    <div headerFlex>
      <ion-button backBtn routerLink="/tabs/tab1"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <ion-title>Add Tutorial</ion-title>
      <!-- <div searchBar>
        <ion-icon name="search"></ion-icon>
        <ion-input placeholder="Search"></ion-input>
      </div> -->
    </div>
  </ion-toolbar>
<!-- 
  <ion-title>Cart</ion-title> -->
  </ion-header>

<ion-content>
  <div postPage>
    <div imgCol>
      <img src="../assets/images/image.png" alt="">
      <a href="javascript:void(0)" video><ion-icon name="camera"></ion-icon></a>
    </div>

    <ul>
    	<li>
    		<label>Title</label>
    		<ion-input placeholder=""></ion-input>
    	</li>
    	<li>
    		<label>Description</label>
    		<ion-textarea placeholder=""></ion-textarea>
    	</li>
    	<li>
    		<label>Tags</label>
    		<ion-input placeholder=""></ion-input>
    		<!-- <div tags><span>Gisou</span><span>Nisi Mongo Nec</span></div> -->
    	</li>
    	<li>
    		<ion-label>Location</ion-label>
    		<ion-input placeholder=""></ion-input>
    	</li>
      <li>
        <a href="javascript:void(0)" save>Add</a>
      </li>
    </ul>

  </div>  
</ion-content>
