<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
	<div loginPage>
		<!-- <div logo><img src="../assets/images/logo.png" alt=""></div> -->
		<div form>
			<h2>Verify Your Phone Number</h2>
			<p>Enter 4 digit OTP code, which you recieved on your phone number.</p>
			<div formField >
				<ion-input value=""></ion-input>
				<ion-input value=""></ion-input>
				<ion-input value=""></ion-input>
				<ion-input value=""></ion-input>
			</div>

			<p>Don't you recieve any code? <a href="">Resend</a></p>
		</div>


		<div fixedBotm>
			<!-- <p center or>Or login  email</p>
			<ul social>
				<li><a href="javascript:void(0)"><img width="25" src="../assets/images/facebook.svg" alt=""></a></li>
				<li><a href="javascript:void(0)"><ion-icon name="logo-google"></ion-icon></a></li>
			</ul> -->
			<a routerLink="/tabs/tab1" btn-common block>Submit</a>
		</div>
	</div>
</ion-content>
