<ion-header>
  <ion-toolbar>
    <div headerFlex>
      <ion-button backBtn routerLink="/order-details"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <ion-title>Add Review</ion-title>
      <a href="javascript:void(0)" moreIcon><span></span></a>
    </div>
  </ion-toolbar>

  </ion-header>

  
<ion-content>
  <div postPage>
    <ul>
      <li>
        <div stars>
          <ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
        </div>
      </li>
      <li>
        <label>Comment</label>
        <ion-textarea placeholder=""></ion-textarea>
      </li>
      <li>
        <a href="javascript:void(0)" save>Add Review</a>
      </li>
      <li>
      <!-- <li>
        <ion-label>Select Category</ion-label>
        <ion-select placeholder="Select">
          <ion-select-option value="f">One</ion-select-option>
          <ion-select-option value="m">Two</ion-select-option>
        </ion-select>
      </li> -->
    </ul>

  </div>  
</ion-content>
