<ion-header>
  <ion-toolbar>
    <div headerFlex>
      <ion-button backBtn routerLink="/tabs/tab1"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <ion-title>Tutorials</ion-title>
      <a href="javascript:void(0)" routerLink="/add-tutorial" moreIcon><ion-icon name="add"></ion-icon> Add</a>
    </div>
  </ion-toolbar>

  </ion-header>

<ion-content>

  <!-- <div filterBtns>
    <ul>
      <li><a href="javascript:void(0)">Beauty</a></li>
      <li><a href="javascript:void(0)">Hair</a></li>
      <li><a href="javascript:void(0)">Lips</a></li>
      <li><a href="javascript:void(0)">Skin</a></li>
      <li><a href="javascript:void(0)">Body</a></li>
      <li><a href="javascript:void(0)">Face</a></li>
      <li><a href="javascript:void(0)">Eyes</a></li>
    </ul>
  </div> -->
  <div homePage>
    <div blogCol>
      <div thumbImg routerLink="/shop-details">
        <img postImg src="../assets/images/post2.jpg" alt="">
        <div topBar>
          <div lftUser>
            <!-- <span><img src="../assets/images/user3.png" alt=""></span> -->
            <p><small> London, England</small></p>
          </div>
          <div ritMore>
            <span></span>
          </div>
        </div>
        <div groupIcons>
          <ul>
            <li><a href="javascript:void(0)"><ion-icon name="heart"></ion-icon> <p>450</p></a></li>
            <li><a href="javascript:void(0)"><ion-icon name="chatbubble-ellipses"></ion-icon> <p>1.2k</p></a></li>
            <li><a href="javascript:void(0)"><ion-icon name="return-up-forward-outline"></ion-icon></a></li>
            <li><a href="javascript:void(0)"><ion-icon name="eye"></ion-icon> <p>5.6k</p></a></li>
          </ul>
        </div>
      </div>


      <div blogContent>
        <div tags><p>#makeup</p> <p>#eyeliner</p> <p>#glow</p></div>
        <h3>Check out my new make up tutorial! You'd definitely love it.</h3>
      </div>
    </div>


    <div blogCol>
      <div thumbImg>
        <img postImg src="../assets/images/post3.jpg" alt="">
        <div topBar>
          <div lftUser>
            <!-- <span><img src="../assets/images/user3.png" alt=""></span> -->
            <p><small> London, England</small></p>
          </div>
          <div ritMore>
            <span></span>
          </div>
        </div>
        <div groupIcons>
          <ul>
            <li><a href="javascript:void(0)"><ion-icon name="heart"></ion-icon> <p>450</p></a></li>
            <li><a href="javascript:void(0)"><ion-icon name="chatbubble-ellipses"></ion-icon> <p>1.2k</p></a></li>
            <li><a href="javascript:void(0)"><ion-icon name="return-up-forward-outline"></ion-icon></a></li>
            <li><a href="javascript:void(0)"><ion-icon name="eye"></ion-icon> <p>5.6k</p></a></li>
          </ul>
        </div>
      </div>
      <div blogContent>
        <div tags><p>#makeup</p> <p>#eyeliner</p> <p>#glow</p></div>
        <h3>Check out my new make up tutorial! You'd definitely love it.</h3>
      </div>
    </div>
    <div blogCol>
      <div thumbImg>
        <img postImg src="../assets/images/post4.jpg" alt="">
        <div topBar>
          <div lftUser>
            <!-- <span><img src="../assets/images/user3.png" alt=""></span> -->
            <p><small> London, England</small></p>
          </div>
          <div ritMore>
            <span></span>
          </div>
        </div>
        <div groupIcons>
          <ul>
            <li><a href="javascript:void(0)"><ion-icon name="heart"></ion-icon> <p>450</p></a></li>
            <li><a href="javascript:void(0)"><ion-icon name="chatbubble-ellipses"></ion-icon> <p>1.2k</p></a></li>
            <li><a href="javascript:void(0)"><ion-icon name="return-up-forward-outline"></ion-icon></a></li>
            <li><a href="javascript:void(0)"><ion-icon name="eye"></ion-icon> <p>5.6k</p></a></li>
          </ul>
        </div>
      </div>
      <div blogContent>
        <div tags><p>#makeup</p> <p>#eyeliner</p> <p>#glow</p></div>
        <h3>Check out my new make up tutorial! You'd definitely love it.</h3>
      </div>
    </div>
  </div>  
</ion-content>
